<html>
<head>
    <title>{% block title %}My Website{% endblock %}</title>
    {% load static %}
    {% block link1 %} <link rel="stylesheet" href={% static "healthy_hunger/css/bootstrap.min.css" %}> {% endblock link1 %}
    {% block link2 %} <link rel="stylesheet" href={% static "healthy_hunger/css/custom.css" %}> {% endblock link2 %}
    
</head>
<body>
    <header class="bg-white" style="height:15px;">
        <div class="header_container">
            <div class="row align-items-center">
                <div class="col-6">
                    <img src= {% static "healthy_hunger/img/logo.png" %} alt="Your Logo" class="img-fluid" width="200" height="100">
                </div>
                <div class="col-6 text-right">
                    <a href="#" id='header_btn' class="btn btn-link">Home </a>
                    <a href="#" id='header_btn' class="btn btn-link">About Us</a>
                    <a href="#" id='header_btn' class="btn btn-link">Contact Us</a>
                </div>
            </div>
        </div>
    </header>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <footer style="display: flex; justify-content: space-between;">
        <div class="footer_row pt-3 pl-4">
            <div class="footer_column">
                <p style="font-weight:bold; font-size:20px">Company</p>
                <a href="">About Us</a>
            </div>
            <div class="footer_column">
                <p style="font-weight:bold; font-size:20px">Contact</p>
                <a href="">Contact Us</a>
            </div>
            <div class="footer_column">
                <p style="font-weight:bold; font-size:20px">Legal</p>
                <a href="">Terms & Conditions</a>
            </div>
        </div>
        <div class="footer_text">
            <h1>WORK</h1>
            <h1>EAT</h1>
            <h1>SLEEP</h1>
            <h1>REPEAT</h1>
        </div>
    </footer>
</body>
</html>