<html>
<head>
    <title>{% block title %}My Website{% endblock %}</title>
    {% load static %}
    {% block link1 %} <link rel="stylesheet" href={% static "healthy_hunger/css/bootstrap.min.css" %}> {% endblock link1 %}
    {% block link2 %} <link rel="stylesheet" href={% static "healthy_hunger/css/custom.css" %}> {% endblock link2 %}
    
</head>
<body>
    <header class="bg-white mt-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6">
                    <img src= {% static "healthy_hunger/img/logo.png" %} alt="Your Logo" class="img-fluid" width="200" height="100">
                </div>
                <div class="col-6 text-right">
                    <a href="#" id='header_btn' class="btn btn-link">Home</a>
                    <a href="#" id='header_btn' class="btn btn-link">About</a>
                    <a href="#" id='header_btn' class="btn btn-link">Services</a>
                    <a href="#" id='header_btn' class="btn btn-link">Contact</a>
                </div>
            </div>
        </div>
    </header>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <footer class="bg-dark text-light py-3">
      <P>Something</P>
    </footer>
</body>
</html>