{% extends "healthy_hunger/base.html" %}
{% load static %}
{% block link1 %} <link rel="stylesheet" href={% static "healthy_hunger/css/bootstrap.min.css" %}> {% endblock link1 %}
{% block link2 %} <link rel="stylesheet" href={% static "healthy_hunger/css/custom.css" %}> {% endblock link2 %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container-sm mt-4">
    <div class="image-container">
        <div class="headline_text">
            <p class="headline">Are you hungry?</p>
        </div>
        <div class="headline_subtitle">
            <p class="subtitle">Order your favourite dishes in a few clicks!</p>
        </div>
        <form>
            <div class="white-box">
                <input class="form-control" style="width: 450; transform: translate(-10%, -5%);" type="text" id="userInput" placeholder="What are you craving for today?">
                <button type="submit" style="padding: 15px 60px; background-color: #F4CF09; color: #fff; border: none; cursor: pointer">Find Food</button>
            </div>
        </form>
        <img src={% static "healthy_hunger/img/background.jpg" %} alt="Background Image" style="width: 100%; height: 900; object-fit:contain;;
        ">
    </div>
</div>
<body>
<div class="container">
    <br>
    <h1>Popular Items</h1>
    <div class="row mt-5">
        <div class="column">
            <a href="">
            <img src={% static "healthy_hunger/img/spicy_burger.jpg" %} alt="Spicy Burger" style="width:100%">
            <p class="mt-1">Satan Paradise Burger</p>
            </a>
        </div>
        <div class="column">
            <a href="">
            <img src={% static "healthy_hunger/img/gravy_burger.jpg" %} alt="Gravy Burger" style="width:100%">
            <p class="mt-1">Dripping Moments Burger</p>
            </a>
        </div>
        <div class="column">
            <a href="">
            <img src={% static "healthy_hunger/img/chicken.jpg" %} alt="chicken" style="width:100%">
            <p class="mt-1">Hot Chicken Wings</p>
            </a>
        </div>
        <div class="column">
            <a href="">
            <img src={% static "healthy_hunger/img/choco.jpg" %} alt="choco lava cake" style="width:100%">
            <p class="mt-1">Sweet Melting Moments Cake</p>
            </a>
        </div>
    </div>
</div>
<br>

<div class="map_container">
    <h1 class="row mt-5">Find The Nearest Restaurant</h1>
    <div class="mt-5" id="map_iframe">
        <iframe src="https://maps.google.com/maps?ie=UTF8&amp;iwloc=B&amp;output=embed" width="90%" height="600" style="border:0;" loading="lazy"></iframe>
    </div>
</div>


{% endblock %}